@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --dark: #1e1e1e;
    --light: #ffffff;
}

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;

    background-color: var(--light);

    color: var(--dark);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
}

/* header */
header {
    color: var(--light);
    text-align: center;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-image: url(./header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 16px;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 1.5rem;
    flex-wrap: wrap;
}
header nav a {
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: all 0.1s ease-in-out;
    text-shadow: 2px 1px 0 var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav a:hover {
    background-color: var(--light);
    text-shadow: none;
    color: var(--dark);
}
header img {
    width: 80%;
    height: auto;
    max-width: 400px;
}
header h2 {
    text-shadow: 2px 1px 0 var(--dark);
    max-width: 90%;
}

/* content */
main {
    margin: 0 auto;
    max-width: 800px;
    padding: 32px;
    padding-bottom: 200px;
}
main iframe {
    aspect-ratio: 560 / 315;
    width: 100%;
    border-radius: 10px;
    background-color: #5a9d70;
}
#trailer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
strong {
    font-weight: 800;
}
section {
    padding: 32px 0;
}
.section-fade {
    opacity: 0;
    transform: translateY(5vh);
    transition: opacity 0.3s ease-out, transform 0.5s ease-out;
    will-change: opacity, visibility;
}
.section-fade.section-visible {
    opacity: 1;
    transform: none;
}
#store-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
#store-pages a {
    text-align: center;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: var(--dark);
    border: 3px solid var(--dark);
    color: var(--light);
    transition: all 0.1s ease-in-out;
}
#store-pages a:hover {
    background-color: var(--light);
    color: var(--dark);
}

/* footer */
footer {
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    font-size: 0.8em;
    margin-top: auto;
    padding-inline: 4.5rem;

    position: relative;
}
footer > nav {
    margin-inline: auto;
    padding: 64px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4.5rem;
    row-gap: 1.5rem;
}
footer > nav > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4.5rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
}
#copy {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-width: fit-content;
}
#copy a svg {
    width: 1rem;
    height: 1rem;
    fill: var(--light);
}

#player {
    position: absolute;
    bottom: 100%;
    left: 20px;
    height: 200px;
}
#editor {
    position: absolute;
    bottom: 100%;
    right: 20px;
    height: 200px;
}

@media screen and (max-width: 680px) {
    header {
        padding-inline: 0;
    }
    header nav {
        gap: 0.5rem;
        padding: 16px 16px;
    }
    header h2 {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1080px) {
    footer {
        padding-inline: 1.5rem;
    }
    footer > nav > nav {
        column-gap: 1.5rem;
        row-gap: 0.5rem;
        padding-block: 1.5rem;
    }
    footer > nav {
        padding-block: 1.5rem;
    }
}
@media screen and (max-width: 580px) {
    footer > nav {
        flex-direction: column-reverse;
        padding-inline: 0.5rem;
    }
    #copy {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }
    header nav {
        gap: 0;
    }
    #player, #editor {
        height: 120px;
    } 
    main {
        padding-bottom: 120px;
    }
}